In [2]:
import pandas as pd

In [3]:
data1 = pd.read_csv('data1.csv', sep=';')
data2 = pd.read_csv('data2.csv', sep=';')
data3 = pd.read_csv('data3.csv', sep=';')

In [4]:
print(data1.head())
print(data2.head())
print(data3.head())

    ID     RegDate RegCountry RegSource
0  721  2016-01-01          B        SE
1  722  2016-01-01          A        SE
2  723  2016-01-01          A        SE
3  724  2016-01-01          A        SE
4  841  2016-01-01          A        SE
    ID     DepDate               Sum PaymInstr
0  620  2016-01-03  3,06849682010272     Other
1  620  2016-01-03  3,94521019727492     Other
2  620  2016-01-03  4,20822421042658     Other
3  620  2016-01-02  2,63014013151662     Other
4  620  2016-01-02  1,75342675434441     Other
       ID    GameDate  GameHour             SumRevA            SumRevB
0    7315  2016-05-24         7  0,0191815856777494                  0
1  154563  2016-12-23        20    17,3337595907928  -15,3388746803069
2   37537  2016-09-19        18  0,0191815856777494                  0
3    4629  2016-02-25        18                   0                  0
4    4583  2016-02-12         3    9,64194373401535                  0

In [5]:
data1['RegDate'] = pd.to_datetime(data1['RegDate'])
data2['DepDate'] = pd.to_datetime(data2['DepDate'])
data3['GameDate'] = pd.to_datetime(data3['GameDate'])

data2['Sum'] = data2['Sum'].apply(lambda x: float(x.replace(',', '.')))
data3['SumRevA'] = data3['SumRevA'].apply(lambda x: float(x.replace(',', '.')))
data3['SumRevB'] = data3['SumRevB'].apply(lambda x: float(x.replace(',', '.')))

In [6]:
data2['DepMonth'] = data2['DepDate'].dt.strftime('%Y-%m')
data1['RegMonth'] = data1['RegDate'].dt.strftime('%Y-%m')

In [7]:
data = data1.merge(data2, on='ID').merge(data3, on='ID')

cohorts_dep = data.groupby('ID', as_index=False)['DepMonth'].min()
cohorts_dep.rename(columns={'DepMonth': 'Cohort_Dep'}, inplace=True)

cohorts_reg = data.groupby('ID', as_index=False)['RegMonth'].min()
cohorts_reg.rename(columns={'RegMonth': 'Cohort_Reg'}, inplace=True)

In [15]:
data_merged = data.merge(cohorts_dep, on='ID').merge(cohorts_reg, on='ID')
data_merged.head()

,ID,RegDate,RegCountry,RegSource,RegMonth,DepDate,Sum,PaymInstr,DepMonth,GameDate,GameHour,SumRevA,SumRevB,Cohort_Dep,Cohort_Reg
0,724,2016-01-01,A,SE,2016-01,2016-11-28,4.947477,Card,2016-11,2016-01-29,18,0.006394,0.0,2016-01,2016-01
1,724,2016-01-01,A,SE,2016-01,2016-11-28,4.947477,Card,2016-11,2016-01-12,3,0.000000,0.0,2016-01,2016-01
2,724,2016-01-01,A,SE,2016-01,2016-11-28,4.947477,Card,2016-11,2016-12-08,7,0.012788,0.0,2016-01,2016-01
3,724,2016-01-01,A,SE,2016-01,2016-11-28,4.947477,Card,2016-11,2016-01-30,19,0.083120,0.0,2016-01,2016-01
4,724,2016-01-01,A,SE,2016-01,2016-11-28,4.947477,Card,2016-11,2016-02-13,10,0.000000,0.0,2016-01,2016-01

In [16]:
data_merged

,ID,RegDate,RegCountry,RegSource,RegMonth,DepDate,Sum,PaymInstr,DepMonth,GameDate,GameHour,SumRevA,SumRevB,Cohort_Dep,Cohort_Reg
0,724,2016-01-01,A,SE,2016-01,2016-11-28,4.947477,Card,2016-11,2016-01-29,18,0.006394,0.0,2016-01,2016-01
1,724,2016-01-01,A,SE,2016-01,2016-11-28,4.947477,Card,2016-11,2016-01-12,3,0.000000,0.0,2016-01,2016-01
2,724,2016-01-01,A,SE,2016-01,2016-11-28,4.947477,Card,2016-11,2016-12-08,7,0.012788,0.0,2016-01,2016-01
3,724,2016-01-01,A,SE,2016-01,2016-11-28,4.947477,Card,2016-11,2016-01-30,19,0.083120,0.0,2016-01,2016-01
4,724,2016-01-01,A,SE,2016-01,2016-11-28,4.947477,Card,2016-11,2016-02-13,10,0.000000,0.0,2016-01,2016-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44469252,376394,2016-12-30,A,SE,2016-12,2016-12-30,8.486535,Card,2016-12,2017-01-02,23,0.012788,0.0,2016-12,2016-12
44469253,376394,2016-12-30,A,SE,2016-12,2016-12-30,8.486535,Card,2016-12,2017-02-10,16,0.025575,0.0,2016-12,2016-12
44469254,376394,2016-12-30,A,SE,2016-12,2016-12-30,8.486535,Card,2016-12,2017-02-10,10,0.006394,0.0,2016-12,2016-12
44469255,376394,2016-12-30,A,SE,2016-12,2016-12-30,8.486535,Card,2016-12,2017-01-03,22,0.102302,0.0,2016-12,2016-12
44469256,376394,2016-12-30,A,SE,2016-12,2016-12-30,8.486535,Card,2016-12,2017-01-23,23,0.108696,0.0,2016-12,2016-12

In [20]:
data_merged.groupby('Cohort_Reg')['ID'].nunique()

Cohort_Reg
2016-01    1020
2016-02     924
2016-03    1063
2016-04     908
2016-05     992
2016-06     612
2016-07     528
2016-08     586
2016-09    1592
2016-10    4447
2016-11    7083
2016-12    2698
Name: ID, dtype: int64