In [1]:
import pandas as pd

In [2]:
data1 = pd.read_csv('data1.csv', sep=';')
data2 = pd.read_csv('data2.csv', sep=';')
data3 = pd.read_csv('data3.csv', sep=';')

In [3]:
print(data1.head())
print(data2.head())
print(data3.head())

    ID     RegDate RegCountry RegSource
0  721  2016-01-01          B        SE
1  722  2016-01-01          A        SE
2  723  2016-01-01          A        SE
3  724  2016-01-01          A        SE
4  841  2016-01-01          A        SE
    ID     DepDate               Sum PaymInstr
0  620  2016-01-03  3,06849682010272     Other
1  620  2016-01-03  3,94521019727492     Other
2  620  2016-01-03  4,20822421042658     Other
3  620  2016-01-02  2,63014013151662     Other
4  620  2016-01-02  1,75342675434441     Other
       ID    GameDate  GameHour             SumRevA            SumRevB
0    7315  2016-05-24         7  0,0191815856777494                  0
1  154563  2016-12-23        20    17,3337595907928  -15,3388746803069
2   37537  2016-09-19        18  0,0191815856777494                  0
3    4629  2016-02-25        18                   0                  0
4    4583  2016-02-12         3    9,64194373401535                  0

In [10]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 376902 entries, 0 to 376901
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   ID          376902 non-null  int64
 1   RegDate     376902 non-null  datetime64[ns]
 2   RegCountry  376902 non-null  object
 3   RegSource   376902 non-null  object
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 11.5+ MB

In [7]:
data1['RegDate'] = pd.to_datetime(data1['RegDate'])
data2['DepDate'] = pd.to_datetime(data2['DepDate'])
data3['GameDate'] = pd.to_datetime(data3['GameDate'])

data2['Sum'] = data2['Sum'].apply(lambda x: float(x.replace(',', '.')))
data3['SumRevA'] = data3['SumRevA'].apply(lambda x: float(x.replace(',', '.')))
data3['SumRevB'] = data3['SumRevB'].apply(lambda x: float(x.replace(',', '.')))

In [11]:
data2['DepMonth'] = data2['DepDate'].dt.strftime('%Y-%m')
data1['RegMonth'] = data1['RegDate'].dt.strftime('%Y-%m')

In [12]:
data1.head()

    ID    RegDate RegCountry RegSource RegMonth
0  721 2016-01-01          B        SE  2016-01
1  722 2016-01-01          A        SE  2016-01
2  723 2016-01-01          A        SE  2016-01
3  724 2016-01-01          A        SE  2016-01
4  841 2016-01-01          A        SE  2016-01

In [21]:
data1['ID'].nunique()

376902

In [30]:
data3

             ID   GameDate  GameHour    SumRevA    SumRevB
0          7315 2016-05-24         7   0.019182   0.000000
1        154563 2016-12-23        20  17.333760 -15.338875
2         37537 2016-09-19        18   0.019182   0.000000
3          4629 2016-02-25        18   0.000000   0.000000
4          4583 2016-02-12         3   9.641944   0.000000
...         ...        ...       ...        ...        ...
1075775  314692 2017-01-27        16   0.076726   0.000000
1075776    8945 2016-10-23        17   0.140665   0.000000
1075777    5588 2017-01-07        13   0.006394   0.000000
1075778  249127 2017-01-28        18   0.000000   0.000000
1075779   12332 2016-12-07        10   0.172634   0.000000

[1075780 rows x 5 columns]

In [35]:
data3.groupby('ID', as_index=True)['SumRevA', 'SumRevB'].sum()

<ipython-input-35-5e5ac32d4402>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  data3.groupby('ID', as_index=True)['SumRevA', 'SumRevB'].sum()

          SumRevA   SumRevB
ID
8        0.537084  0.000000
9        9.680307  6.476982
17      23.887468  0.000000
22       1.406650  0.000000
31      30.939898  0.000000
...           ...       ...
376874  23.107417  0.000000
376885   1.285166  0.000000
376890   0.901535  0.000000
376891   0.639386  0.000000
376897   0.000000  8.209719

[37473 rows x 2 columns]

In [38]:
data2.groupby('ID', as_index=True)['Sum'].sum()

ID
8           2.191783
9          18.410981
17        135.089904
31         44.520431
32          2.250548
             ...
376861      4.141672
376874     19.181586
376885      4.359635
376890      5.099704
376897      8.298759
Name: Sum, Length: 22702, dtype: float64