In [2]:
import pandas as pd

In [7]:
data1 = pd.read_csv('data1.csv', sep=';')
data2 = pd.read_csv('data2.csv', sep=';')
data3 = pd.read_csv('data3.csv', sep=';')

             ID    GameDate  GameHour              SumRevA            SumRevB
0          7315  2016-05-24         7   0,0191815856777494                  0
1        154563  2016-12-23        20     17,3337595907928  -15,3388746803069
2         37537  2016-09-19        18   0,0191815856777494                  0
3          4629  2016-02-25        18                    0                  0
4          4583  2016-02-12         3     9,64194373401535                  0
...         ...         ...       ...                  ...                ...
1075775  314692  2017-01-27        16   0,0767263427109974                  0
1075776    8945  2016-10-23        17    0,140664961636829                  0
1075777    5588  2017-01-07        13  0,00639386189258312                  0
1075778  249127  2017-01-28        18                    0                  0
1075779   12332  2016-12-07        10    0,172634271099744                  0

[1075780 rows x 5 columns]